body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    background-image: url("images/table.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
    
}

button {
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #016f32;
    background: goldenrod;
    font-weight: bold;
    border: none;
}
